---
version: 3
images:
  base_image:
    name: rockylinux:9
dependencies:
  ansible_core:
    # Require minimum of 2.15 to get ansible-inventory --limit option
    package_pip: ansible-core>=2.15.0rc2,<2.16
  ansible_runner:
    package_pip: ansible-runner
  galaxy: |
    ---
    collections:
      - name: amazon.aws
        version: ">=7.0.0"
      - name: ansible.posix
        version: ">=1.5.4"
      - name: ansible.windows
        version: ">=2.2.0"
      - name: awx.awx
        version: ">=23.5.0"
      - name: azure.azcollection
        version: ">=1.19.0"
      - name: community.windows
        version: ">=2.1.0"
      - name: community.vmware
        version: ">=2.15.0"
      - name: kubernetes.core
        version: ">=2.4.0"
      - name: google.cloud
        version: ">=1.3.0"
      - name: openstack.cloud
        version: ">=2.2.0"
      - name: ovirt.ovirt
        version: ">=3.2.0"
      - name: theforeman.foreman
        version: ">=3.15.0"
  system: |
    epel-release [platform:rpm]
    gcc [platform:rpm]
    gcc-c++ [platform:rpm]
    git-core [platform:rpm]
    git-lfs [platform:rpm]
    krb5-devel [platform:rpm compile]
    krb5-workstation [platform:rpm]
    libcurl-devel [platform:rpm compile]
    podman-remote [platform:rpm]
    python3.9-devel [platform:rpm compile]
    python-unversioned-command [platform:rpm]
    rsync [platform:rpm]
    sshpass [platform:rpm]
    subversion [platform:dpkg]
    subversion [platform:rpm]
    unzip [platform:rpm]
    sudo [platform:rpm]
  python: |
    git+https://github.com/ansible/ansible-sign
    ncclient
    paramiko
    pexpect>=4.5
    pykerberos
    pyOpenSSL
    pypsrp[kerberos,credssp]
    python-daemon
    pywinrm[kerberos,credssp]
    pyyaml
    receptorctl
    six
    toml
    boto3
additional_build_files:
  - src: sudoers
    dest: configs
additional_build_steps:
  append_base:
    - RUN $PYCMD -m pip install -U pip
  append_final:
    - COPY --from=quay.io/ansible/receptor:devel /usr/bin/receptor /usr/bin/receptor
    - RUN mkdir -p /var/run/receptor
    - RUN git lfs install --system
    - ADD _build/configs/sudoers /etc/sudoers
    - RUN chmod 440 /etc/sudoers
    - RUN mkdir -p /runner
    - RUN chown -R ascender:wheel /runner
    - RUN useradd -G wheel -M -u 1000 -d /runner ascender
